@model WebApplication2.Models.DeleteUserViewModel

@{
    ViewData["Title"] = "Delete Account";
}

<h2>Slett bruker</h2>

<div>
    <h4>Er du sikker på at du ønsker å slette denne brukeren?</h4>
    <div>
        <h5>@(Html.Encode(Model.Email))</h5>
    </div>
    <form asp-action="DeleteConfirmed" method="post">
        <!-- CSRF Protection -->
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <div>
            <input type="submit" value="Slett" class="btn btn-danger" />
            <a asp-action="UserPage" class="btn btn-secondary">Avbryt</a>
        </div>
    </form>
</div>