@model WebApplication2.Models.DeleteUserViewModel

@{
    ViewData["Title"] = "Delete Account";
}

<h2>Delete Account</h2>

<div>
    <h4>Are you sure you want to delete the account?</h4>
    <div>
        <h5>@(Html.Encode(Model.Email))</h5>
    </div>
    <form asp-action="DeleteConfirmed" method="post">
        <!-- CSRF Protection -->
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <div>
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="UserList" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>