@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Velkommen til rapporteringsfunksjonen til Kartverket</h1>
    <p><h6>Dersom du har lyst til å registrere feil i ett av våre kart, ber vi deg vennligst registrere deg og fylle ut ett skjema for hvor og hva som er feil</h6></p>
</div>

<a asp-action="RegistrationForm" class="btn btn-primary">Registrer deg her</a>
