@model Prosjekt_1.Models.UserData
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> Vennligst lag en bruker om du ikke har en fra før av</h1>
</div>
<form asp-action="RegistrationForm" method="post">
    <div>
        <label asp-for="Name">Navnet ditt </label>
        <input asp-for="Name" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Email">Emailen din </label>
        <input asp-for="Email" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
    </div>
    <button class="btn btn-primary">Login</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}