@model WebApplication2.Data.GeoChange

<h2>Edit Geo Change</h2>

<form asp-action="Edit" asp-controller="GeoChanges" method="post">
    <input type="hidden" asp-for="Id" />
    <
    <div>
        <label>Description:</label>
        <input type="text" asp-for="Description" />
    </div>

    <div>
        <label>GeoJsonData:</label>
        <textarea asp-for="GeoJson"></textarea>
    </div>
    <input type="hidden" asp-for="UserId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <button type="submit" class="btn btn-primary">Lagre endringer</button>
    
</form>