@model WebApplication2.Models.UserData
@{
    Layout = "_Layout";
}
        <h1 style="text-align: center">Registrer ny bruker</h1>

        <form asp-action="RegistrationForm" method="post" class="formstyle">
            <div class="rad">
                <label asp-for="Name" class="cell1"> Navnet ditt:</label>
        <input asp-for="Name" placeholder="Navnet ditt" class="cell2"/>
            </div>
    <div class="rad">
        <label asp-for="Email" class="cell1"> Emailen din:</label>
        <input asp-for="Email" placeholder="eksempel@mail.no" class="cell2" />
            </div>
    <div class="rad">
        <label asp-for="Phone" class="cell1"> Telefonnummer: </label>
        <input asp-for="Phone" placeholder="Nummeret ditt" class="cell2" />
            </div>
            <button type="submit" class="btn btn-primary">Registrer</button>
        </form>
    
