@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til rapporteringsfunksjonen til Kartverket</h1>
    <p><a asp-action="RegistrationForm">Registrer deg her</a></p>
    @*<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>@**@
</div>
