@model Prosjekt_1.Models.UserData
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1 class="display-4">Registreringssiden</h1>
</div>
<form asp-action="RegistrationForm" method="post">
    <div>>
    <label asp-for="Name">Your name</label>
    <input asp-for="Name" />
    </div>
    <div>
        >
        <label asp-for="Email">Your email</label>
        <input asp-for="Email" />
    </div>
    <div>
        >
        <label asp-for="Phone">Your phone number</label>
        <input asp-for="Phone" />
    </div>
    <div>
        >
        <label asp-for="Address">Your address</label>
        <input asp-for="Address" />
    </div>
    <button type="submit" class="btn btn primary">Submit data</button>
</form>